<?xml version="1.0" encoding="Windows-1252"?>
<Configuration>
	<Default
		MaxMessageSize="512000"
		MaxQueuedDataPerPeer="512000"
		PerPeerMaxReliableDataInTransit="51200"
		PerPeerTransmitRateLimitKBSec="256"
		PerPeerTransmitRatePeriodMilliseconds="200"
		MinimumTimeout="5000"
		MaximumTimeout="30000">
		
		<!-- Defines the Photon Runtime Assembly to use. -->
		<Runtime
			Assembly="PhotonHostRuntime, Culture=neutral"
			Type="PhotonHostRuntime.PhotonDomainManager"
			UnhandledExceptionPolicy="Ignore">
		</Runtime>
				
		<!-- Defines which applications are loaded on start and which of them is used by default. Make sure the default application is defined. -->
		<!-- Application-folders must be located in the same folder as the bin_win32 folders. The BaseDirectory must include a "bin" folder. -->
		<Applications Default="Server">
      
			<!-- Server1 Application -->
			<Application
				Name="Server"
				BaseDirectory="Server"
				Assembly="Server"
				Type="Server.Entry"
				ForceAutoRestart="true"
				WatchFiles="dll;config">
			</Application>

      <!-- Server2 Application ... -->

    </Applications>


    <!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->
    <!-- Port 5055 is Photon's default for UDP connections. -->
    <UDPListeners>
      <UDPListener
				IPAddress="0.0.0.0"
				Port="11123"
				OverrideApplication="Server"
        >
      </UDPListener>
    </UDPListeners>

    <!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->
    <!-- Port 4530 is Photon's default for TCP connecttions. -->
    <TCPListeners>
      <TCPListener
				IPAddress="0.0.0.0"
				Port="11123"
        DisableNagle="true"
				InactivityTimeout="10000"
				OverrideApplication="Server"
				>
      </TCPListener>
    </TCPListeners>


  </Default>

</Configuration>
